{{ define "main" }}
<main>
  <div class="bg-blue-600" style="height: 77px"></div>
  <div class="px-4 mx-auto mt-10 mb-20 max-w-6xl xl:px-0">
    <h1 class="mt-1 font-serif text-5xl text-blue-600/90">{{ .Title }}</h1>
    <h2 class="text-blue-600/80 tracking-wide font-light text-[1rem] mt-3 max-w-md md:max-w-2xl">{{ .Page.Params.Subtitle }}</h2>
    <div class="flex flex-col items-center mt-14 md:flex-row">
      <img class="mb-6 w-full md:w-1/6 md:mb-0" src="/writings/George-and-the-Mine-Shaft-book-cover.png" alt="George and the Mine Shaft book cover">
      <button onclick="window.open('/writings/George-and-the-Mine-Shaft-book.pdf')" class="ml-0 w-full max-w-lg cursor-pointer group md:w-5/6 md:ml-6 text-start">
        <h3 class="pt-1 text-xl font-medium duration-300 ease-linear text-blue-400/90 group-hover:underline md:pt-0">
          George and the Mine Shaft &mdash; A short story (PDF)
        </h3>
        <p class="mt-2 mb-3 text-base text-blue-400/90">A young man named George goes looking for his father with his friend Harold in an abandoned mine shaft. Suitable as a children's story or as something to read and ponder. Realistic fiction; 14 pages total.</p>
        <div class="flex flex-row flex-wrap space-x-2">
          <span class="px-2 py-1 text-xs rounded-md bg-slate-200 text-slate-500">Forgiveness</span>
          <span class="px-2 py-1 text-xs rounded-md bg-slate-200 text-slate-500">Mercy</span>
          <span class="px-2 py-1 text-xs rounded-md bg-slate-200 text-slate-500">Righteous Judgement</span>
        </div>
        <p class="mt-8 text-xs text-blue-400/70">This book may be printed and/or distributed without prior permission from the author (me) provided that the following requirements are met: 1) This book must be distributed in its entirety without alteration. 2) This book must be given away freely and not sold.</p>
      </button>
    </div>
  </div>
</main>
{{ end }}