{{ define "main" }}
<div class="bg-blue-600 pt-28 pb-20">
  <div class="max-w-6xl mx-auto px-4 xl:px-0">
		<div class="flex flex-col md:flex-row md:space-x-10">
			<div class="w-full md:w-1/2 xl:w-2/5">
				<h1 class="font-light font-serif text-4xl sm:text-5xl text-blue-200">{{ .Title }}</h1>
				<p class="font-serif font-light tracking-wider text-xl text-white/80 mt-4">Posted {{ .Date |  time.Format ":date_medium" }}  &bull; <span class="reading-time"></span></p>
				<div class="mt-5">
					{{ partial "tags.html" . }}
				</div>
			</div>
			<div class="w-full md:w-1/2 xl:w-3/5 mt-10 md:mt-0">
				<img class="w-auto h-auto -mb-60" src="{{ .Page.Params.Image }}" alt="{{ .Title }}">
			</div>
		</div>
	</div>
</div>
<div class="max-w-6xl mx-auto">
	<article class="max-w-2xl px-4 xl:px-0 mt-44 sm:mt-48 md:mt-10 mb-20 mx-auto sm:mx-0">
		<div class="max-w-md border-l-4 border-blue-400/90 pl-4">
			<p class="text-2xl text-blue-600/90 font-light font-serif">{{ .Page.Params.Intro }}</p>
		</div>
		<div id="post" class="post-content mt-6 mb-16">
			{{ .Content }}
		</div>
		<div class="giscus"></div>
		<script src="https://giscus.app/client.js"
		data-repo="Correct-Syntax/correct-syntax.github.io"
		data-repo-id="MDEwOlJlcG9zaXRvcnkzNTQ3MDg4OTc="
		data-category="Post comments"
		data-category-id="DIC_kwDOFSRtoc4CUj3p"
		data-mapping="og:title"
		data-strict="0"
		data-reactions-enabled="1"
		data-emit-metadata="0"
		data-input-position="top"
		data-theme="light"
		data-lang="en"
		data-loading="lazy"
		crossorigin="anonymous"
		async>
		</script>
	</article>
</div>
<script>
	const post = document.getElementById("post");
	const readingTimeSummary = document.querySelector(".reading-time");
	const avgWordsPerMin = 250;
	setReadingTime();
	function setReadingTime() {
		let count = getWordCount();
		let time = Math.ceil(count / avgWordsPerMin);
		readingTimeSummary.innerText = time + " min. read";
	}
	function getWordCount() {
		return post.innerText.match(/\w+/g).length;
	}
</script>
{{ end }}