{{ define "main" }}
<div class="pt-28 pb-20 bg-blue-600">
  <div class="px-4 mx-auto max-w-6xl xl:px-0">
		<div class="flex flex-col md:flex-row md:space-x-10">
			<div class="w-full md:w-1/2 xl:w-2/5">
				<h1 class="font-serif text-4xl text-blue-200 sm:text-5xl">{{ .Title }}</h1>
				<p class="mt-4 font-serif text-xl font-light tracking-wider text-white/80">Posted {{ .Date |  time.Format ":date_medium" }}  &bull; <span class="reading-time"></span></p>
				<div class="mt-5">
					{{ partial "tags.html" . }}
				</div>
			</div>
			<div class="mt-10 w-full md:w-1/2 xl:w-3/5 md:mt-0">
				<img class="-mb-60 w-auto h-auto" src="{{ .Page.Params.Image }}" alt="{{ .Title }}">
			</div>
		</div>
	</div>
</div>
<div class="mx-auto max-w-6xl">
	<main class="flex flex-row">
		<article class="px-4 mx-auto mt-44 mb-20 max-w-3xl md:max-w-lg lg:max-w-2xl xl:px-0 sm:mt-48 md:mt-10 md:mx-0">
			<div class="pl-4 max-w-md border-l-4 border-blue-400/90">
				<h2 class="font-serif text-2xl font-light text-blue-600/90">{{ .Page.Params.Intro }}</h2>
			</div>
			<div id="post" class="mt-6 mb-16 post-content">
				{{ .Content }}
			</div>
			<div class="mb-20">
				<h6 class="mb-2 text-2xl font-semibold text-blue-600/80">Other posts you might enjoy</h6>
				<div class="grid grid-cols-1 gap-x-3 gap-y-6 mt-8 sm:grid-cols-3">
					{{ $related := (.Site.RegularPages.Related .) | first 3 }}
					{{ range $related }}
					<a class="w-full" href="{{ .Permalink }}">
						<img class="mb-4 w-full" src="{{ .Page.Params.Image }}" alt="{{ .Title }}">
						<div class="w-full">
							<h6 class="pt-1 font-serif text-xl font-medium duration-300 ease-linear text-blue-400/90 hover:underline">
								{{ .Title }}
							</h6>
							<p class="mt-1 font-serif text-sm text-blue-400/80">{{ .Date |  time.Format ":date_medium" }}</p>
						</div>
					</a>
					{{ end }}
				</div>
			</div>
			<div class="giscus"></div>
			<script src="https://giscus.app/client.js"
				data-repo="Correct-Syntax/correct-syntax.github.io"
				data-repo-id="MDEwOlJlcG9zaXRvcnkzNTQ3MDg4OTc="
				data-category="Post comments"
				data-category-id="DIC_kwDOFSRtoc4CUj3p"
				data-mapping="og:title"
				data-strict="0"
				data-reactions-enabled="1"
				data-emit-metadata="0"
				data-input-position="top"
				data-theme="light"
				data-lang="en"
				data-loading="lazy"
				crossorigin="anonymous"
				async>
			</script>
		</article>
		{{ if gt (len .TableOfContents) 80}}
		<aside id="tableOfContents" class="hidden sticky top-8 self-start mt-40 ml-0 md:block lg:ml-12">
			<h4 class="mb-2 text-2xl font-semibold text-blue-600/80">Table of Contents</h4>
			<div class="ml-1 text-blue-600/70">
				{{ .TableOfContents }}
			</div>
		</aside>
		{{ end }}
	</main>
</div>
<script>
	const post = document.getElementById("post");
	const readingTimeSummary = document.querySelector(".reading-time");
	const avgWordsPerMin = 250;
	function setReadingTime() {
		let count = getWordCount();
		let time = Math.ceil(count / avgWordsPerMin);
		readingTimeSummary.innerText = time + " min. read";
	}
	function getWordCount() {
		return post.innerText.match(/\w+/g).length;
	}
	window.addEventListener('DOMContentLoaded', () => {        
		setReadingTime();
		const observerForTableOfContentActiveState = new IntersectionObserver(entries => {
				entries.forEach(entry => {
						const id = entry.target.getAttribute('id');
						if (entry.intersectionRatio > 0) {
							document.querySelectorAll('aside nav li').forEach((section) => {
								section.classList.remove('font-semibold');
							});
							document.querySelector(`aside nav li a[href="#${id}"]`).parentElement.classList.add('font-semibold');
						}
				});
		});
		document.querySelectorAll('h1[id],h2[id],h3[id]').forEach((section) => {
				observerForTableOfContentActiveState.observe(section);
		});
	});
</script>
{{ end }}