{{ define "main" }} 
<div class="relative bg-hero bg-cover bg-center pt-32 pb-20 px-4 xl:px-0">
  <div class="max-w-6xl mx-auto">
    <span class="text-lg text-white/80 font-medium tracking-wide">Hi, I'm Noah Rahm.</span>
    <h1 class="text-6xl md:text-7xl text-blue-200 font-serif font-light mt-1">I Create Things.</h1>
    <h2 class="text-white/80 text- tracking-wide mt-4 max-w-lg">
      Independent designer/developer helping people make an impact through carefully crafted visual design and technical solutions.
    </h2>
    <a class="group inline-flex items-center px-7 py-3 bg-blue-200 text-blue-600 border-2 border-blue-200 rounded-full text-lg font-medium drop-shadow-[0_25px_25px_rgba(0,0,0,0.25)] hover:cursor-pointer hover:text-blue-200 hover:bg-blue-300 duration-300 ease-linear mt-7" href="https://calendly.com/noahrahm/consultation" target="blank">
      Book your call
      <svg class="ml-1.5 w-5 h-5 fill-blue-600 group-hover:fill-blue-200" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256">
        <path d="M198,64V168a6,6,0,0,1-12,0V78.48L68.24,196.24a6,6,0,0,1-8.48-8.48L177.52,70H88a6,6,0,0,1,0-12H192A6,6,0,0,1,198,64Z"></path>
      </svg>
    </a>
  </div>
</div>

<div class="mt-10 mb-16 space-y-6">
  <div class="max-w-6xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 grid-rows-2 gap-x-4 gap-y-10 px-4 xl:px-0">
      <!-- Hilltop Motion -->
      <a href="/work/hilltop-motion-logo/">
        <div class="relative group">
          <img class="w-auto h-auto" src="/work/hilltopmotion/logo.webp" alt="Hilltop Motion logo design"/>
          <span class="absolute top-0 left-0 bottom-0 bg-transparent group-hover:bg-black/50 overflow-auto w-full duration-500">
            <div class="absolute top-0 right-0 p-6 group-hover:p-5 opacity-0 group-hover:opacity-100 ease-in-out duration-500">
              <svg class="h-5 w-5 text-white fill-current ease-in-out duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
              </svg>
            </div>
          </span>
        </div>
        <p class="text-blue-400/80 text-lg mt-3 max-w-lg"><span class="font-medium">Hilltop Motion -</span> Logo for a video & photography studio based in the US.</p>
      </a>
      <!-- OpenImageIO -->
      <a href="/work/openimageio-branding/">
        <div class="relative group">
          <img class="w-auto h-auto" src="/work/openimageio/brand-guidelines-book-mockup.webp" alt="OpenImageIO brand guidelines book"/>
          <span class="absolute top-0 left-0 bottom-0 bg-transparent group-hover:bg-black/50 overflow-auto w-full duration-500">
            <div class="absolute top-0 right-0 p-6 group-hover:p-5 opacity-0 group-hover:opacity-100 ease-in-out duration-500">
              <svg class="h-5 w-5 text-white fill-current ease-in-out duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
              </svg>
            </div>
          </span>
        </div>
        <p class="text-blue-400/80 text-lg mt-3 max-w-lg"><span class="font-medium">OpenImageIO -</span> Logo and brand guidelines for a popular open source C++ library aimed at VFX applications.</p>
      </a>
      <!-- Flameshot -->
      <a href="/work/flameshot-website/">
        <div class="relative group">
          <img class="w-auto h-auto" src="/work/flameshot/flameshot-website.webp" alt="Flameshot website"/>
          <span class="absolute top-0 left-0 bottom-0 bg-transparent group-hover:bg-black/50 overflow-auto w-full duration-500">
            <div class="absolute top-0 right-0 p-6 group-hover:p-5 opacity-0 group-hover:opacity-100 ease-in-out duration-500">
              <svg class="h-5 w-5 text-white fill-current ease-in-out duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
              </svg>
            </div>
          </span>
        </div>
        <p class="text-blue-400/80 text-lg mt-3 max-w-lg"><span class="font-medium">Flameshot -</span> Modern website for a powerful, yet simple cross-platform desktop screenshot tool.</p>
      </a>
      <!-- Options -->
      <a href="/work/options-of-ava-website/">
        <div class="relative group">
          <img class="w-auto h-auto" src="/work/opc/options-of-ava.webp" alt="Options of Ava website"/>
          <span class="absolute top-0 left-0 bottom-0 bg-transparent group-hover:bg-black/50 overflow-auto w-full duration-500">
            <div class="absolute top-0 right-0 p-6 group-hover:p-5 opacity-0 group-hover:opacity-100 ease-in-out duration-500">
              <svg class="h-5 w-5 text-white fill-current ease-in-out duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
              </svg>
            </div>
          </span>
        </div>
        <p class="text-blue-400/80 text-lg mt-3 max-w-lg"><span class="font-medium">Options Of Ava -</span> New Wordpress website for a local, life-impacting organization.</p>
      </a>
    </div>
  </div>
</div>

<div id="services" class="bg-blue-400 px-4 xl:px-0 py-20">
  <div class="mx-auto text-center">
    <span class="text-sm text-white/80 font-medium uppercase tracking-wide mx-auto">Services</span>
    <h3 class="text-5xl text-blue-200 font-serif font-light mx-auto mt-2 px-6">How I Can <span class="inline-block">Help You</span></h3>
  </div>
  <div class="bg-blue-600 drop-shadow-[0_25px_25px_rgba(0,0,0,0.25)] max-w-6xl rounded-xl py-20 px-8 sm:px-10 md:px-20 mx-auto mt-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-12 mx-auto">
      <!-- Wordpress -->
      <div class="max-w-md">
        <div class="w-14 h-14 border-4 border-blue-300 rounded-full p-3">
          <svg class="fill-white w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
            <path d="M216,42H40A14,14,0,0,0,26,56V200a14,14,0,0,0,14,14H216a14,14,0,0,0,14-14V56A14,14,0,0,0,216,42ZM40,54H216a2,2,0,0,1,2,2V98H38V56A2,2,0,0,1,40,54ZM38,200V110H98v92H40A2,2,0,0,1,38,200Zm178,2H110V110H218v90A2,2,0,0,1,216,202Z"></path>
          </svg>
        </div>
        <h4 class="text-xl text-white font-semibold mt-4 mb-2">WordPress design &amp; development</h4>
        <p class="text-white/80">Fast, optimized, and visually pleasing <a class="underline decoration-white/20 hover:text-blue-200 hover:decoration-blue-200 duration-300 ease-linear" href="https://wordpress.org" target="blank">Wordpress</a> or <a class="underline decoration-white/20 hover:text-blue-200 hover:decoration-blue-200 duration-300 ease-linear" href="https://woocommerce.com" target="blank">Woocommerce</a> websites built using the native Gutenburg editor. For more complex requirements, I can develop a custom plugin or theme specific to your needs.</p>
      </div>
      <!-- Static sites -->
      <div class="max-w-md">
        <div class="w-14 h-14 border-4 border-blue-300 rounded-full p-3">
          <svg class="fill-white w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M216,42H72A14,14,0,0,0,58,56V74H40A14,14,0,0,0,26,88V200a14,14,0,0,0,14,14H184a14,14,0,0,0,14-14V182h18a14,14,0,0,0,14-14V56A14,14,0,0,0,216,42ZM40,86H184a2,2,0,0,1,2,2v18H38V88A2,2,0,0,1,40,86ZM186,200a2,2,0,0,1-2,2H40a2,2,0,0,1-2-2V118H186Zm32-32a2,2,0,0,1-2,2H198V88a14,14,0,0,0-14-14H70V56a2,2,0,0,1,2-2H216a2,2,0,0,1,2,2Z"></path></svg>
        </div>
        <h5 class="text-xl text-white font-semibold mt-4 mb-2">Static website development</h5>
        <p class="text-white/80">If you don't need or want a full CMS solution, static websites have the advantages of speed, flexibility, security, and simpler maintenance. I can create your site using any non-js-based site generator of your choice.</p>
      </div>
      <!-- Design -->
      <div class="max-w-md">
        <div class="w-14 h-14 border-4 border-blue-300 rounded-full p-3">
          <svg class="fill-white w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
            <path d="M208,94a14,14,0,0,0,14-14V48a14,14,0,0,0-14-14H176a14,14,0,0,0-14,14V58H94V48A14,14,0,0,0,80,34H48A14,14,0,0,0,34,48V80A14,14,0,0,0,48,94H58v68H48a14,14,0,0,0-14,14v32a14,14,0,0,0,14,14H80a14,14,0,0,0,14-14V198h68v10a14,14,0,0,0,14,14h32a14,14,0,0,0,14-14V176a14,14,0,0,0-14-14H198V94ZM174,48a2,2,0,0,1,2-2h32a2,2,0,0,1,2,2V80a2,2,0,0,1-2,2H176a2,2,0,0,1-2-2ZM46,80V48a2,2,0,0,1,2-2H80a2,2,0,0,1,2,2V80a2,2,0,0,1-2,2H48A2,2,0,0,1,46,80ZM82,208a2,2,0,0,1-2,2H48a2,2,0,0,1-2-2V176a2,2,0,0,1,2-2H80a2,2,0,0,1,2,2Zm128-32v32a2,2,0,0,1-2,2H176a2,2,0,0,1-2-2V176a2,2,0,0,1,2-2h32A2,2,0,0,1,210,176Zm-24-14H176a14,14,0,0,0-14,14v10H94V176a14,14,0,0,0-14-14H70V94H80A14,14,0,0,0,94,80V70h68V80a14,14,0,0,0,14,14h10Z"></path>
          </svg>
        </div>
        <h6 class="text-xl text-white font-semibold mt-4 mb-2">Web &amp; graphic design</h6>
        <p class="text-white/80">Modern, user-friendly web, ui, and graphic designs with optional custom graphics.</p>
      </div>
      <!-- Logos -->
      <div class="max-w-md">
        <div class="w-14 h-14 border-4 border-blue-300 rounded-full p-3">
          <svg class="fill-white w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
            <path d="M193.78,97.13c.13-1.69.22-3.4.22-5.13A66,66,0,0,0,62,92c0,1.73.09,3.44.22,5.13A66,66,0,1,0,128,211.27,66,66,0,1,0,193.78,97.13ZM74,92a54,54,0,0,1,108,0c0,.17,0,.34,0,.51a65.75,65.75,0,0,0-54,8.22,65.75,65.75,0,0,0-54-8.22C74,92.34,74,92.17,74,92Zm72,64a53.88,53.88,0,0,1-18,40.21A53.88,53.88,0,0,1,110,156c0-.17,0-.34,0-.51a65.73,65.73,0,0,0,36,0C146,155.66,146,155.83,146,156Zm-18-10a53.61,53.61,0,0,1-16.5-2.59A54.09,54.09,0,0,1,128,115.79a54.09,54.09,0,0,1,16.5,27.62A53.61,53.61,0,0,1,128,146Zm-27.6-7.61a54.14,54.14,0,0,1-24.9-33.8A53.85,53.85,0,0,1,118,108.71,66.09,66.09,0,0,0,100.4,138.39ZM138,108.71a53.85,53.85,0,0,1,42.53-4.12,54.14,54.14,0,0,1-24.9,33.8A66.09,66.09,0,0,0,138,108.71ZM92,210A54,54,0,0,1,64.4,109.61a66.29,66.29,0,0,0,33.82,41.26c-.13,1.69-.22,3.4-.22,5.13a65.8,65.8,0,0,0,20,47.29A53.64,53.64,0,0,1,92,210Zm72,0a53.64,53.64,0,0,1-26-6.71A65.8,65.8,0,0,0,158,156c0-1.73-.09-3.44-.22-5.13a66.29,66.29,0,0,0,33.82-41.26A54,54,0,0,1,164,210Z"></path>
          </svg>
        </div>
        <h6 class="flex flex-row flex-wrap-reverse gap-2 text-xl text-white font-semibold mt-4 mb-2">Logo design <span class="py-1 px-2.5 rounded-full text-xs border-2 border-blue-200 text-blue-200">Limited Availability</span></h6>
        <p class="text-white/80">Your logo is the face of your business or organization. I help you from the process of concept to final design. Currently, I only take on select logo design projects.</p>
      </div>
    </div>
  </div>
  <div class="mt-16 mx-auto text-center">
    <h6 class="text-xl text-white/80 px-2 max-w-lg mx-auto">Not sure what you need yet? Book a 15 min. consultation and I can review your current website.</h6>
    <a class="group inline-flex items-center px-7 py-3 bg-blue-200 text-blue-600 border-2 border-blue-200 rounded-full text-lg font-medium drop-shadow-[0_25px_25px_rgba(0,0,0,0.25)] hover:cursor-pointer hover:text-blue-200 hover:bg-blue-300 duration-300 ease-linear mt-6 mx-auto" href="https://calendly.com/noahrahm/consultation" target="blank">
      Book consultation
      <svg class="ml-1.5 w-5 h-5 fill-blue-600 group-hover:fill-blue-200" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256">
        <path d="M198,64V168a6,6,0,0,1-12,0V78.48L68.24,196.24a6,6,0,0,1-8.48-8.48L177.52,70H88a6,6,0,0,1,0-12H192A6,6,0,0,1,198,64Z"></path>
      </svg>
    </a>
  </div>
</div>
<div class="max-w-6xl mx-auto py-20">
  <div class="flex flex-col lg:flex-row">
    <blockquote class="w-full lg:w-1/2 max-w-xl px-4 xl:px-0 mx-auto">
      <img class="w-10 h-auto" src="/work/flameshot/flameshot-icon.svg" alt="Flameshot website"/>
      <p class="text-2xl font-serif italic text-blue-400/80 mt-4">"We were looking for a solution to have a website that can contain... documentation, FAQ, and also...portrays our software, Flameshot, as a beautiful and easy-to-use screenshotting tool… [He] worked closely with us to tailor the website exactly to our needs. We whole-heartedly recommend [Him]"</p>
      <footer class="text-blue-400/80 font-medium text-lg mt-5">
        Mehrad Mahmoudian
        <p class="text-blue-400/70 text-sm font-normal">on Behalf of the Flameshot dev team</p>
      </footer>
    </blockquote>
    <div class="w-full lg:w-1/2 mt-4 lg:mt-0">
      <img class="w-auto h-auto" src="/work/flameshot/flameshot-website-perspective.webp" alt="Flameshot website"/>
    </div>
  </div>
</div>
<div class="bg-blue-400 py-16">
  <div class="max-w-6xl mx-auto px-4 xl:px-0 text-center">
    <h5 class="text-5xl font-serif font-light text-blue-200 px-2 mx-auto">Ready to get started?</h5>
    <h6 class="max-w-md text-white/80 px-2 mt-4 mx-auto">Book a free 15 min. consultation. We'll briefly chat about your goals, ideas, and requirements. </h6>
    <a class="group inline-flex items-center px-7 py-3 bg-blue-200 text-blue-600 border-2 border-blue-200 rounded-full text-lg font-medium drop-shadow-[0_25px_25px_rgba(0,0,0,0.25)] hover:cursor-pointer hover:text-blue-200 hover:bg-blue-300 duration-300 ease-linear mt-6 mx-auto" href="https://calendly.com/noahrahm/consultation" target="blank">
      Book your call
      <svg class="ml-1.5 w-5 h-5 fill-blue-600 group-hover:fill-blue-200" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256">
        <path d="M198,64V168a6,6,0,0,1-12,0V78.48L68.24,196.24a6,6,0,0,1-8.48-8.48L177.52,70H88a6,6,0,0,1,0-12H192A6,6,0,0,1,198,64Z"></path>
      </svg>
    </a>
  </div>
</div>
{{ end }}