{{ define "main" }}
<main>
  <div class="pt-28 pb-24 bg-blue-600">
    <div class="px-4 mx-auto max-w-6xl xl:px-0">
      <div class="inline-flex items-center space-x-1 text-xs font-medium tracking-wide uppercase text-white/80">
        <a class="duration-300 ease-linear hover:text-white" href="/work/">Work</a>
        <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 256 256"><path d="M180.24,132.24l-80,80a6,6,0,0,1-8.48-8.48L167.51,128,91.76,52.24a6,6,0,0,1,8.48-8.48l80,80A6,6,0,0,1,180.24,132.24Z"></path></svg>
        <span>{{ .Params.client }}</span>
      </div>
      <div class="flex flex-col mt-2 md:flex-row md:space-x-2">
        <div class="w-full md:w-1/2">
          <h1 class="font-serif text-4xl text-blue-200 sm:text-5xl">{{ .Title }}</h1>
          <div class="grid grid-cols-2 gap-y-3 gap-x-5 mt-8 text-base font-light text-white lg:grid-cols-3 lg:gap-y-0">
            <div>
              <p class="mb-1 text-xs text-white/80">My role in the project:</p>
              <h2>{{ .Params.role }}</h2>
            </div>
            <div>
              <p class="mb-1 text-xs text-white/80">Time frame:</p>
              <p>{{ .Params.timeframe }}</p>
            </div>
            {{ if (.Params.weburl) }}
            <div>
              <p class="mb-1 text-xs text-white/80">Website:</p>
              <a class="inline-flex items-center underline duration-300 ease-linear group hover:text-blue-200 hover:decoration-blue-200" href="https://{{ .Params.weburl }}" target="blank">
                {{ .Params.weburl }}
                <svg class="ml-1 w-4 h-4 fill-white/80 group-hover:fill-blue-200" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256">
                  <path d="M198,64V168a6,6,0,0,1-12,0V78.48L68.24,196.24a6,6,0,0,1-8.48-8.48L177.52,70H88a6,6,0,0,1,0-12H192A6,6,0,0,1,198,64Z"></path>
                </svg>
              </a>
            </div>
            {{end}}
          </div>
        </div>
        <div class="mt-5 w-full md:w-1/2 md:mt-0">
          <p class="text-lg text-white">{{ .Params.description | safeHTML }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-6xl">
    <img class="-mt-14 w-auto h-auto" src="{{ .Params.image }}" alt="{{ .Params.client }}"/>
  </div>
  <div class="mt-10 mb-20 case-study-content">
    {{ .Content }}
  </div>
  <div class="py-8 bg-blue-400">
    <div class="px-4 mx-auto max-w-6xl text-center xl:px-0">
      <a class="justify-center mx-auto font-serif text-xl font-light text-blue-200 underline" href="/work/">
        Back to portfolio
      </a>
    </div>
  </div>
</main>
{{ end }}