{{ define "main" }}
<main class="bg-blue-600 pt-28 pb-20">
  <div class="max-w-6xl mx-auto px-4 text-center xl:px-0">
    <h1 class="text-5xl text-blue-200 font-serif font-light mt-1 mx-auto">{{ .Title }}</h1>
    <div class="max-w-xl markdown-content-dark text-left mt-10 mx-auto">
      {{ .Content }}
      <div class="relative mb-10">
        <a href="mailto:hi@noahrahm.com" class="text-2xl text-white font-medium underline decoration-white/40 hover:text-blue-200 hover:decoration-blue-200 duration-300 ease-linear mt-1">hi@noahrahm.com</a>
      </div>
      <h4>Mailing list</h4>
      <p>To receive occasional emails from me, you can subscribe to my mailing list. I typically write about tech, faith, design, and other useful things that I'd like to share.</p>
      <div class="mt-5">
        <script async src="https://eocampaign1.com/form/04599d14-922d-11ee-a0a6-b7de803d5b32.js" data-form="04599d14-922d-11ee-a0a6-b7de803d5b32"></script>
      </div>
    </div>
  </div>
</main>
{{ end }}