{{ define "main" }} 
<main>
  <div class="relative px-4 pt-28 pb-20 bg-blue-600 md:pt-36 xl:px-0">
    <div class="mx-auto max-w-6xl">
      <div class="max-w-164 text-center mx-auto">
        <h1 class="text-5xl md:text-[3.5rem] text-blue-200 font-serif mt-1 max-w-2xl">
          Logo design services
        </h1>
        <h2 class="mt-3 text-xl font-light tracking-wide leading-7 text-white md:leading-8">
          Personalized, professional design service to create a unique logo for your business or project.
        </h2>
      </div>
    </div>
  </div>

  <div class="mt-10 mb-16 space-y-6">
    <div class="mx-auto max-w-6xl">
      <div class="grid grid-cols-1 grid-rows-2 gap-x-4 gap-y-12 px-4 md:grid-cols-2 xl:px-0">
        <!-- Revelation IT -->
        <div class="relative group">
          <img class="w-auto h-auto rounded-2xl" src="/logos/revelation-it-logo.webp" alt="Revelation IT logo"/>
          <span class="flex items-center justify-center overflow-auto absolute top-0 bottom-0 left-0 w-full h-full rounded-2xl bg-transparent duration-500 group-hover:bg-black/80">
            <div class=" text-white text-center p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
              <p class="font-bold mx-auto text-lg">Revelation IT LLC</p>
              <p class="mx-auto">Logo for a small IT service business.</p>
            </div>
          </span>
        </div>

        <!-- Operation Sunny Day -->
        <div class="relative group">
          <img class="w-auto h-auto rounded-2xl" src="/logos/operation-sunny-day-logo.webp" alt="Operation Sunny Day logo"/>
          <span class="flex items-center justify-center overflow-auto absolute top-0 bottom-0 left-0 w-full h-full rounded-2xl bg-transparent duration-500 group-hover:bg-black/80">
            <div class=" text-white text-center p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
              <p class="font-bold mx-auto text-lg">Operation Sunny Day</p>
              <p class="mx-auto">Logo for an organization bringing elderly and youth together.</p>
            </div>
          </span>
        </div>

        <!-- Bibleside -->
        <div class="relative group">
          <img class="w-auto h-auto rounded-2xl" src="/logos/bibleside-logo.webp" alt="Bibleside logo"/>
          <span class="flex items-center justify-center overflow-auto absolute top-0 bottom-0 left-0 w-full h-full rounded-2xl bg-transparent duration-500 group-hover:bg-black/80">
            <div class=" text-white text-center p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
              <p class="font-bold mx-auto text-lg">Bibleside</p>
              <p class="mx-auto">Logo for an Android Bible reader app.</p>
            </div>
          </span>
        </div>

        <!-- Hilltop Motion -->
        <div class="relative group">
          <img class="w-auto h-auto rounded-2xl" src="/logos/hilltop-motion-logo.webp" alt="Hilltop Motion logo"/>
          <span class="flex items-center justify-center overflow-auto absolute top-0 bottom-0 left-0 w-full h-full rounded-2xl bg-transparent duration-500 group-hover:bg-black/80">
            <div class=" text-white text-center p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
              <p class="font-bold mx-auto text-lg">Hilltop Motion</p>
              <p class="mx-auto">Logo for a video & photography studio based in the USA.</p>
            </div>
          </span>
        </div>

        <!-- Halation -->
        <div class="relative group">
          <img class="w-auto h-auto rounded-2xl" src="/logos/halation-logo.webp" alt="Halation logo"/>
          <span class="flex items-center justify-center overflow-auto absolute top-0 bottom-0 left-0 w-full h-full rounded-2xl bg-transparent duration-500 group-hover:bg-black/80">
            <div class=" text-white text-center p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
              <p class="font-bold mx-auto text-lg">Halation</p>
              <p class="mx-auto">Logo for a bespoke software company.</p>
            </div>
          </span>
        </div>

        <!-- Velocity Lapse -->
        <div class="relative group">
          <img class="w-auto h-auto rounded-2xl" src="/logos/velocity-lapse-logo.webp" alt="Velocity Lapse logo"/>
          <span class="flex items-center justify-center overflow-auto absolute top-0 bottom-0 left-0 w-full h-full rounded-2xl bg-transparent duration-500 group-hover:bg-black/80">
            <div class=" text-white text-center p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
              <p class="font-bold mx-auto text-lg">Velocity Lapse</p>
              <p class="mx-auto">Logo and brand guidelines for an Android time-lapse app.</p>
            </div>
          </span>
        </div>

        <!-- OIIO -->
        <div class="relative group">
          <img class="w-auto h-auto rounded-2xl" src="/logos/oiio-logo.webp" alt="OpenImageIO logo"/>
          <span class="flex items-center justify-center overflow-auto absolute top-0 bottom-0 left-0 w-full h-full rounded-2xl bg-transparent duration-500 group-hover:bg-black/80">
            <div class=" text-white text-center p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
              <p class="font-bold mx-auto text-lg">OpenImageIO</p>
              <p class="mx-auto">Logo and brand guidelines for a popular C++ library.</p>
            </div>
          </span>
        </div>

        <!-- Franklin's Plumbing -->
        <div class="relative group">
          <img class="w-auto h-auto rounded-2xl" src="/logos/franklins-plumbing-logo.webp" alt="Franklin's Plumbing logo"/>
          <span class="flex items-center justify-center overflow-auto absolute top-0 bottom-0 left-0 w-full h-full rounded-2xl bg-transparent duration-500 group-hover:bg-black/80">
            <div class=" text-white text-center p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
              <p class="font-bold mx-auto text-lg">Franklin's Plumbing Services</p>
              <p class="mx-auto">Logo for a local plumber.</p>
            </div>
          </span>
        </div>

      </div>
    </div>
  </div>

  <!-- Form -->
  <div class="mt-10 mb-16">
    <div class="mx-auto max-w-3xl">
      <h3 class="md:text-[3rem] text-blue-400 font-serif">Let's get started on your project.</h3>
      <p class="mt-3 mb-2 text-blue-400 text-lg">Please fill out the brief form below with as much information as you can provide and I'll get back to you within 48 hours.</p>
      <small class="text-sm text-blue-400/70">Information you submit through this form is confidential. Your trust and privacy are important to me.</small>

      <form action="https://send.pageclip.co/vh3984y8LRUj5sUbCwbHuFCHmdCMvsm2/logobrief" class="pageclip-form grid grid-cols-2 space-y-6 mt-6" method="post">
        <div class="col-span-2 space-y-1.5">
          <label for="fullName" class="block text-lg font-bold text-blue-400">Your full name <span class="text-red-700">*</span></label>
          <input id="fullName" type="text" name="FullName" class="rounded-sm px-4 py-3 w-full" required/>
        </div>
        <div class="col-span-1 space-y-1.5">
          <label for="email" class="block text-lg font-bold text-blue-400">Your email address <span class="text-red-700">*</span></label>
          <input id="email" type="email" name="Email" placeholder="example@example.com" class="rounded-sm px-4 py-3 w-full" required/>
        </div>
        <div class="col-span-1 space-y-1.5"></div>
        <div class="col-span-1 space-y-1.5">
          <label for="logoName"  class="block text-lg font-bold text-blue-400">The name that will be used for the logo <span class="text-red-700">*</span></label>
          <input id="logoName" type="text" name="LogoName" class="rounded-sm px-4 py-3 w-full" required/>
        </div>
        <div class="col-span-1 space-y-1.5"></div>
        <div class="col-span-2 space-y-1.5">
          <label for="designNeeds" class="block text-lg font-bold text-blue-400">Please describe your design needs... <span class="text-red-700">*</span></label>
          <textarea id="designNeeds" name="DesignNeeds" class="rounded-sm px-4 py-3 w-full" rows="7"></textarea>
          <small class="text-blue-400/70">Feel free to include Google Drive or Dropbox links to your existing logo or reference material.</small>
        </div>
        <div class="col-span-2 space-y-1.5">
          <label for="heardFrom" class="block text-lg font-bold text-blue-400">How did you hear about me? (Optional)</label>
          <select id="heardFrom" name="HeardFrom" class="rounded-sm px-4 py-3 w-full">
            <option value="default" selected>Please select</option>
            <option value="searchEngine">Google/Search engine</option>
            <option value="socialMedia">Social media</option>
            <option value="referral">Referral</option>
            <option value="client">I'm a previous client</option>
            <option value="client">Other</option>
          </select>
        </div>
        <div class="col-span-2 space-y-1.5">
          <div class="flex flex-row justify-end">
            <button class="pageclip-form__submit bg-blue-300 text-white text-lg px-6 py-3 rounded-sm font-bold w-full duration-300 ease-in-out hover:cursor-pointer hover:bg-blue-400" type="submit">
              <span>Submit</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
{{ end }}