{{ define "main" }}
<div class="relative max-w-6xl mx-auto space-y-4 mt-10">
  <div class="flex flex-col mx-6 mt-1">
    <div class="flex align-left max-w-2xl mx-auto">
      <div class="pb-2">
        <h1 class="font-bold text-5xl text-gray-700">{{ .Title }}</h1>
        <h2 class="mt-1 text-gray-600 text-sm tracking-wide max-w-xl">{{ .Params.subtitle }}</h2>
      </div>
    </div>
    <img class="my-6 h-auto w-auto rounded-lg" src="/work/ozarksolar/business-cards.jpg" alt="Ozark Solar business cards"/>
    <div class="flex flex-col max-w-2xl space-y-4 text-gray-700 text-lg mx-auto">
      <p>
        Beau, a solar consultant for Ozark Solar, needed a multi-fold business card to give out to residents in the area that might be interested in having a solar energy system installation.
      </p>
      <p>
        I sat down with Beau to understand their services, as well as the questions and objections a potential customer might have.
      </p>
      <p>
        Beau came prepared with a bullet-point list of compelling reasons someone should to go with Ozark Solar for their solar energy system installation services. I worked with him to fine-tune the wording and make sure the most common questions were answered at a glance.
      </p>
      <p>
        It was clear that highlighting that Ozark Solar is a trusted, well-established company with fair benefits was the way to go. Having been in business for over 15 years, Ozark Solar had the experience, knowledge, and honesty that stood out from the competition.
      </p>
      <p>
        I specifically chose to use images of solar installations that Beau had worked on as a way to showcase his work right on the card. This would provide an opportunity for him to show potential customers real-life examples of his solar installation work.
      </p>

    </div>
    <img class="my-6 h-auto w-auto rounded-lg" src="/work/ozarksolar/images.jpg" alt="Ozark Solar business cards"/>
    <div class="flex flex-col max-w-2xl space-y-4 text-gray-700 text-lg mx-auto">
      <p>
        Balancing readability and a maintaining a clear, uncluttered design was a top priority. Although it was a multi-fold business card with four areas, it was a unique challenge to include all of the necessary content. In the end, I was able to include more information than what we had originally planned and yet keep a simple layout.
      </p>
      <p>
        I opted to incorporate elements of Ozark Solar's branding to keep the business card recognizable, while allowing myself the freedom necessary to create something unique and different. The choice of the typeface, Titillium Web, was motivated out of maintaining the same look of Ozark Solar's existing logo.
      </p>
      <p>
        Everything came together nicely. Beau was really happy with how the design turned out and I had an enjoyable time working with him to create it.
      </p>
    </div>
  </div>
</div>
{{ end }}