{{ define "main" }}
<div class="relative max-w-6xl mx-auto space-y-4 mt-10">
  <div class="flex flex-col">
    <h1 class="font-bold text-4xl ml-6 text-gray-700">{{ .Title }}</h1>
    <h2 class="mt-1 ml-6 text-gray-700 text-lg tracking-wide max-w-xl font-serif">{{ .Params.subtitle }}</h2>
  </div>
  <div class="markdown-content flex flex-col mx-6 md:mx-0 mt-2">
    <div class="flex ml-0 md:ml-8">
      <div class="max-w-3xl mt-4 markdown-content">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
{{ end }}