{{ define "main" }}
<main x-data="{ filter: 'all' }">
  <div class="pt-28 pb-14 bg-blue-600">
    <div class="px-4 mx-auto max-w-6xl xl:px-0">
      <h1 class="mt-1 max-w-sm font-serif text-5xl text-blue-200 md:max-w-none">{{ .Title }}</h1>
      <h2 class="text-white tracking-wide font-light text-[1rem] mt-2 max-w-md md:max-w-2xl">{{ .Page.Params.Subtitle }}</h2>
    </div>
  </div>
  <div class="flex px-4 mx-auto max-w-6xl xl:px-0">
    <div class="inline-flex overflow-x-auto relative items-center pb-4 mt-6 w-full border-b-2 border-gray-200">
      <svg role="img" class="relative min-w-max fill-blue-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256"><path d="M198,128a6,6,0,0,1-6,6H64a6,6,0,0,1,0-12H192A6,6,0,0,1,198,128Zm34-54H24a6,6,0,0,0,0,12H232a6,6,0,0,0,0-12Zm-80,96H104a6,6,0,0,0,0,12h48a6,6,0,0,0,0-12Z"></path></svg>
      <ul class="inline-flex space-x-3 font-serif font-light tracking-wider text-xl md:text-[1.2rem] text-blue-400 ml-3">
        <li><a @click="filter = 'all'" :class="{ 'font-medium text-blue-600 decoration-blue-600 underline' : filter == 'all' }" class="cursor-pointer">All</a></li>
        <li><a @click="filter = 'web'" :class="{ 'font-medium text-blue-600 decoration-blue-600 underline' : filter == 'web' }" class="cursor-pointer">Web</a></li>
        <li><a @click="filter = 'apps'" :class="{ 'font-medium text-blue-600 decoration-blue-600 underline' : filter == 'apps' }" class="cursor-pointer">Apps</a></li>
        <li><a @click="filter = 'logos'" :class="{ 'font-medium text-blue-600 decoration-blue-600 underline' : filter == 'logos' }" class="cursor-pointer">Logos</a></li>
        <li><a @click="filter = 'graphics'" :class="{ 'font-medium text-blue-600 decoration-blue-600 underline' : filter == 'graphics' }" class="cursor-pointer">Graphics</a></li>
        <li><a @click="filter = 'software'" :class="{ 'font-medium text-blue-600 decoration-blue-600 underline' : filter == 'software' }" class="cursor-pointer">Software</a></li>
        <li><a @click="filter = 'filmmaking'" :class="{ 'font-medium text-blue-600 decoration-blue-600 underline' : filter == 'filmmaking' }" class="cursor-pointer">Filmmaking</a></li>
      </ul>
    </div>
  </div>
  <div class="mt-10 mb-16 space-y-6">
    <div class="mx-auto max-w-6xl">
      <div class="grid grid-cols-1 grid-rows-2 gap-x-4 gap-y-12 px-4 md:grid-cols-2 xl:px-0">
        <!-- Bibleside -->
        <a x-show="filter == 'apps' || filter == 'all'" href="/work/bibleside/">
          <div class="relative group">
            <img class="w-auto h-auto" src="/work/bibleside/bibleside.webp" alt="Bibleside"/>
            <span class="overflow-auto absolute top-0 bottom-0 left-0 w-full bg-transparent duration-500 group-hover:bg-black/50">
              <div class="absolute top-0 right-0 p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
                <svg class="w-5 h-5 text-white duration-300 ease-in-out fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                </svg>
              </div>
            </span>
          </div>
          <p class="mt-3 max-w-lg text-lg text-blue-400/80"><span class="font-medium">Bibleside —</span> Open-source, offline Android Bible app featuring the OET (Open English Translation).</p>
        </a>

        <!-- Velocity Lapse -->
        <a x-show="filter == 'apps' || filter == 'all'" href="/work/velocity-lapse/">
          <div class="relative group">
            <img class="w-auto h-auto" src="/posts/journey-behind-velocity-lapse-6/the-journey-behind-velocity-lapse-part-6-header.webp" alt="Velocity Lapse"/>
            <span class="overflow-auto absolute top-0 bottom-0 left-0 w-full bg-transparent duration-500 group-hover:bg-black/50">
              <div class="absolute top-0 right-0 p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
                <svg class="w-5 h-5 text-white duration-300 ease-in-out fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                </svg>
              </div>
            </span>
          </div>
          <p class="mt-3 max-w-lg text-lg text-blue-400/80"><span class="font-medium">Velocity Lapse —</span> Fully-featured Android app for creating time-lapse videos.</p>
        </a>

        <!-- Reference8 -->
        <a x-show="filter == 'web' || filter == 'all'" href="/work/reference8/">
          <div class="relative group">
            <img class="w-auto h-auto" src="/work/reference8/reference8.webp" alt="Reference8"/>
            <span class="overflow-auto absolute top-0 bottom-0 left-0 w-full bg-transparent duration-500 group-hover:bg-black/50">
              <div class="absolute top-0 right-0 p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
                <svg class="w-5 h-5 text-white duration-300 ease-in-out fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                </svg>
              </div>
            </span>
          </div>
          <p class="mt-3 max-w-lg text-lg text-blue-400/80"><span class="font-medium">Reference8 —</span> Open-source, web-based photo reference tool for artists & creatives.</p>
        </a>

        <!-- Hilltop Motion -->
        <a x-show="filter == 'logos' || filter == 'all'" href="/work/hilltop-motion-logo/">
          <div class="relative group">
            <img class="w-auto h-auto" src="/work/hilltopmotion/logo.webp" alt="Hilltop Motion logo design"/>
            <span class="overflow-auto absolute top-0 bottom-0 left-0 w-full bg-transparent duration-500 group-hover:bg-black/50">
              <div class="absolute top-0 right-0 p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
                <svg class="w-5 h-5 text-white duration-300 ease-in-out fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                </svg>
              </div>
            </span>
          </div>
          <p class="mt-3 max-w-lg text-lg text-blue-400/80"><span class="font-medium">Hilltop Motion —</span> Logo for a video & photography studio based in the US.</p>
        </a>

        <!-- OpenImageIO -->
        <a x-show="filter == 'logos' || filter == 'all'" href="/work/openimageio-branding/">
          <div class="relative group">
            <img class="w-auto h-auto" src="/work/openimageio/brand-guidelines-book-mockup.webp" alt="OpenImageIO brand guidelines book"/>
            <span class="overflow-auto absolute top-0 bottom-0 left-0 w-full bg-transparent duration-500 group-hover:bg-black/50">
              <div class="absolute top-0 right-0 p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
                <svg class="w-5 h-5 text-white duration-300 ease-in-out fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                </svg>
              </div>
            </span>
          </div>
          <p class="mt-3 max-w-lg text-lg text-blue-400/80"><span class="font-medium">OpenImageIO —</span> Logo and brand guidelines for a popular open source C++ library aimed at VFX applications.</p>
        </a>

        <!-- The Psalms 23 Project -->
        <a x-show="filter == 'filmmaking' || filter == 'all'" href="/work/the-psalms-23-project/">
          <div class="relative group">
            <img class="w-auto h-auto" src="/work/psalms23project/the-psalms-23-project.webp" alt="The Psalms 23 Project"/>
            <span class="overflow-auto absolute top-0 bottom-0 left-0 w-full bg-transparent duration-500 group-hover:bg-black/50">
              <div class="absolute top-0 right-0 p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
                <svg class="w-5 h-5 text-white duration-300 ease-in-out fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                </svg>
              </div>
            </span>
          </div>
          <p class="mt-3 max-w-lg text-lg text-blue-400/80"><span class="font-medium">The Psalms 23 Project —</span> A project to create videos of the Psalms read on-location, in nature.</p>
        </a>

        <!-- Options -->
        <a x-show="filter == 'web' || filter == 'all'" href="/work/options-of-ava-website/">
          <div class="relative group">
            <img class="w-auto h-auto" src="/work/opc/options-of-ava.webp" alt="Options of Ava website"/>
            <span class="overflow-auto absolute top-0 bottom-0 left-0 w-full bg-transparent duration-500 group-hover:bg-black/50">
              <div class="absolute top-0 right-0 p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
                <svg class="w-5 h-5 text-white duration-300 ease-in-out fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                </svg>
              </div>
            </span>
          </div>
          <p class="mt-3 max-w-lg text-lg text-blue-400/80"><span class="font-medium">Options Of Ava —</span> New Wordpress website for a local, life-impacting organization.</p>
        </a>

        <!-- Ozark Solar-->
        <a x-show="filter == 'graphics' || filter == 'all'" href="/work/ozark-solar-business-card-design/">
          <div class="relative group">
            <img class="w-auto h-auto" src="/work/ozarksolar/business-cards.webp" alt="Ozark Solar business card design"/>
            <span class="overflow-auto absolute top-0 bottom-0 left-0 w-full bg-transparent duration-500 group-hover:bg-black/50">
              <div class="absolute top-0 right-0 p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
                <svg class="w-5 h-5 text-white duration-300 ease-in-out fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                </svg>
              </div>
            </span>
          </div>
          <p class="mt-3 max-w-lg text-lg text-blue-400/80"><span class="font-medium">Ozark Solar —</span> Modern, multi-fold business card design for a solar energy consultant.</p>
        </a>

        <!-- Flameshot -->
        <a x-show="filter == 'web' || filter == 'all'" href="/work/flameshot-website/">
          <div class="relative group">
            <img class="w-auto h-auto" src="/work/flameshot/flameshot-website-dark-mode.webp" alt="Flameshot website"/>
            <span class="overflow-auto absolute top-0 bottom-0 left-0 w-full bg-transparent duration-500 group-hover:bg-black/50">
              <div class="absolute top-0 right-0 p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
                <svg class="w-5 h-5 text-white duration-300 ease-in-out fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                </svg>
              </div>
            </span>
          </div>
          <p class="mt-3 max-w-lg text-lg text-blue-400/80"><span class="font-medium">Flameshot —</span> Modern website for a powerful, yet simple cross-platform desktop screenshot tool.</p>
        </a>
        
        <!-- Gimel Studio-->
        <a x-show="filter == 'software' || filter == 'all'" href="/work/gimel-studio/">
          <div class="relative group">
            <img class="w-auto h-auto" src="/work/gimel-studio/gimel-studio-editor.webp" alt="Gimel Studio"/>
            <span class="overflow-auto absolute top-0 bottom-0 left-0 w-full bg-transparent duration-500 group-hover:bg-black/50">
              <div class="absolute top-0 right-0 p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
                <svg class="w-5 h-5 text-white duration-300 ease-in-out fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                </svg>
              </div>
            </span>
          </div>
          <p class="mt-3 max-w-lg text-lg text-blue-400/80"><span class="font-medium">Gimel Studio —</span> Open-source, node based 2D graphics editor with a Python API.</p>
        </a>

        <!-- Clouds of MN time-lapse -->
        <a x-show="filter == 'filmmaking' || filter == 'all'" href="https://youtu.be/CF7WEkBNImc">
          <div class="relative group">
            <img class="w-auto h-auto" src="/work/clouds-of-mn/clouds-of-mn.jpg" alt="Clouds of MN"/>
            <span class="overflow-auto absolute top-0 bottom-0 left-0 w-full bg-transparent duration-500 group-hover:bg-black/50">
              <div class="absolute top-0 right-0 p-6 opacity-0 duration-500 ease-in-out group-hover:p-5 group-hover:opacity-100">
                <svg class="w-5 h-5 text-white duration-300 ease-in-out fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                </svg>
              </div>
            </span>
          </div>
          <p class="mt-3 max-w-lg text-lg text-blue-400/80"><span class="font-medium">Clouds of MN —</span> 4K time-lapse short film exploring different cloudscapes in the Minnesota countryside.</p>
        </a>
      </div>
    </div>
  </div>
</main>
{{ end }}