{{ define "main" }}
<div x-data="{ filter: 'all' }">
  <div class="bg-blue-600 pt-28 pb-16">
    <div class="max-w-6xl mx-auto px-4 xl:px-0">
      <span class="text-sm text-white/80 font-medium uppercase tracking-wide mx-auto">Work</span>
      <h1 class="text-5xl md:text-6xl text-blue-200 font-serif font-light mt-1 max-w-sm md:max-w-none">{{ .Title }}</h1>
      <div class="block sm:inline-flex mt-4">
        <p class="font-serif font-light tracking-wider text-xl text-white/80 mr-2">Filter by:</p>
        <ul class="block sm:inline-flex sm:space-x-2 font-serif font-light tracking-wider text-xl text-white/80">
          <li><a @click="filter = 'websites'" :class="{ 'font-medium text-blue-200 decoration-blue-200' : filter == 'websites' }" class="cursor-pointer underline">Websites</a></li>
          <li><a @click="filter = 'logos'" :class="{ 'font-medium text-blue-200 decoration-blue-200' : filter == 'logos' }" class="cursor-pointer underline">Logos</a></li>
          <li><a @click="filter = 'graphics'" :class="{ 'font-medium text-blue-200 decoration-blue-200' : filter == 'graphics' }" class="cursor-pointer underline">Graphic Designs</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mt-10 mb-16 space-y-6">
    <div class="max-w-6xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 grid-rows-2 gap-x-4 gap-y-10 px-4 xl:px-0">
        <!-- Hilltop Motion -->
        <a x-show="filter == 'logos' || filter == 'all'" href="/work/hilltop-motion-logo/">
          <div class="relative group">
            <img class="w-auto h-auto" src="/work/hilltopmotion/logo.webp" alt="Hilltop Motion logo design"/>
            <span class="absolute top-0 left-0 bottom-0 bg-transparent group-hover:bg-black/50 overflow-auto w-full duration-500">
              <div class="absolute top-0 right-0 p-6 group-hover:p-5 opacity-0 group-hover:opacity-100 ease-in-out duration-500">
                <svg class="h-5 w-5 text-white fill-current ease-in-out duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                </svg>
              </div>
            </span>
          </div>
          <p class="text-blue-400/80 text-lg mt-3 max-w-lg mx-4 md:mx-0"><span class="font-medium">Hilltop Motion -</span> Logo for a video & photography studio based in the US.</p>
        </a>
        <!-- OpenImageIO -->
        <a x-show="filter == 'logos' || filter == 'all'" href="/work/openimageio-branding/">
          <div class="relative group">
            <img class="w-auto h-auto" src="/work/openimageio/brand-guidelines-book-mockup.webp" alt="OpenImageIO brand guidelines book"/>
            <span class="absolute top-0 left-0 bottom-0 bg-transparent group-hover:bg-black/50 overflow-auto w-full duration-500">
              <div class="absolute top-0 right-0 p-6 group-hover:p-5 opacity-0 group-hover:opacity-100 ease-in-out duration-500">
                <svg class="h-5 w-5 text-white fill-current ease-in-out duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                </svg>
              </div>
            </span>
          </div>
          <p class="text-blue-400/80 text-lg mt-3 max-w-lg mx-4 md:mx-0"><span class="font-medium">OpenImageIO -</span> Logo and brand guidelines for a popular open source C++ library aimed at VFX applications.</p>
        </a>
        <!-- Flameshot -->
        <a x-show="filter == 'websites' || filter == 'all'" href="/work/flameshot-website/">
          <div class="relative group">
            <img class="w-auto h-auto" src="/work/flameshot/flameshot-website.webp" alt="Flameshot website"/>
            <span class="absolute top-0 left-0 bottom-0 bg-transparent group-hover:bg-black/50 overflow-auto w-full duration-500">
              <div class="absolute top-0 right-0 p-6 group-hover:p-5 opacity-0 group-hover:opacity-100 ease-in-out duration-500">
                <svg class="h-5 w-5 text-white fill-current ease-in-out duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                </svg>
              </div>
            </span>
          </div>
          <p class="text-blue-400/80 text-lg mt-3 max-w-lg mx-4 md:mx-0"><span class="font-medium">Flameshot -</span> Modern website for a powerful, yet simple cross-platform desktop screenshot tool.</p>
        </a>
        <!-- Options -->
        <a x-show="filter == 'websites' || filter == 'all'" href="/work/options-of-ava-website/">
          <div class="relative group">
            <img class="w-auto h-auto" src="/work/opc/options-of-ava.webp" alt="Options of Ava website"/>
            <span class="absolute top-0 left-0 bottom-0 bg-transparent group-hover:bg-black/50 overflow-auto w-full duration-500">
              <div class="absolute top-0 right-0 p-6 group-hover:p-5 opacity-0 group-hover:opacity-100 ease-in-out duration-500">
                <svg class="h-5 w-5 text-white fill-current ease-in-out duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                </svg>
              </div>
            </span>
          </div>
          <p class="text-blue-400/80 text-lg mt-3 max-w-lg mx-4 md:mx-0"><span class="font-medium">Options Of Ava -</span> New Wordpress website for a local, life-impacting organization.</p>
        </a>
        <!-- Ozark Solar-->
        <a x-show="filter == 'graphics' || filter == 'all'" href="/work/ozark-solar-business-card-design/">
          <div class="relative group">
            <img class="w-auto h-auto" src="/work/ozarksolar/business-cards.webp" alt="Ozark Solar business cards"/>
            <span class="absolute top-0 left-0 bottom-0 bg-transparent group-hover:bg-black/50 overflow-auto w-full duration-500">
              <div class="absolute top-0 right-0 p-6 group-hover:p-5 opacity-0 group-hover:opacity-100 ease-in-out duration-500">
                <svg class="h-5 w-5 text-white fill-current ease-in-out duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                </svg>
              </div>
            </span>
          </div>
          <p class="text-blue-400/80 text-lg mt-3 max-w-lg mx-4 md:mx-0"><span class="font-medium">Ozark Solar -</span> Modern, multi-fold business card design for a solar energy consultant.</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="bg-blue-400 py-16">
  <div class="max-w-6xl mx-auto px-4 xl:px-0 text-center">
    <h5 class="text-5xl font-serif font-light text-blue-200 px-2 mx-auto">Ready to get started?</h5>
    <h6 class="max-w-md text-white/80 px-2 mt-4 mx-auto">Book a free 15 min. consultation. We'll briefly chat about your goals, ideas, and requirements. </h6>
    <a class="group inline-flex items-center px-7 py-3 bg-blue-200 text-blue-600 border-2 border-blue-200 rounded-full text-lg font-medium drop-shadow-[0_25px_25px_rgba(0,0,0,0.25)] hover:cursor-pointer hover:text-blue-200 hover:bg-blue-300 duration-300 ease-linear mt-6 mx-auto" href="https://calendly.com/noahrahm/consultation" target="blank">
      Book your call
      <svg class="ml-1.5 w-5 h-5 fill-blue-600 group-hover:fill-blue-200" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256">
        <path d="M198,64V168a6,6,0,0,1-12,0V78.48L68.24,196.24a6,6,0,0,1-8.48-8.48L177.52,70H88a6,6,0,0,1,0-12H192A6,6,0,0,1,198,64Z"></path>
      </svg>
    </a>
  </div>
</div>
{{ end }}