@tailwind base;
@tailwind components;

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

#tableOfContents li {
    margin: .2rem 0rem;
}

.markdown-content-dark {
    @apply text-lg text-white/80 leading-relaxed;
}
.markdown-content-dark a {
    @apply underline text-blue-200/80 decoration-blue-200/30 duration-300 ease-linear;
}
.markdown-content-dark a:hover {
    @apply text-blue-200 decoration-blue-200;
}
.markdown-content-dark p {
    @apply mb-4 mt-1;
}
.markdown-content-dark ul {
    @apply list-none list-inside mb-4;
}
.markdown-content-dark h3 {
    @apply text-white/90 text-3xl mt-6 mb-2 font-semibold;
}
.markdown-content-dark h4 {
    @apply text-white/90 text-2xl mt-6 mb-2 font-semibold;
}
.markdown-content-dark h5 {
    @apply text-white/90 text-xl mt-6 mb-2 font-semibold;
}

.case-study-content p {
    @apply text-xl text-blue-600/80 max-w-3xl mx-auto mb-6 mt-4 px-4 xl:px-0;
}
.case-study-content p:has(img) {
    @apply w-auto h-auto mx-auto;
}

.post-content a,
.case-study-content a {
    @apply text-blue-400 underline ease-linear duration-300;
}
.post-content a:hover,
.case-study-content a:hover {
    @apply text-blue-600;
}

.post-content {
    @apply text-xl text-blue-600/90 leading-relaxed;
}
.post-content p {
    @apply max-w-3xl mx-auto mb-6 mt-4;
}
.post-content h3 {
    @apply text-blue-600/90 text-3xl mt-6 mb-2 font-semibold;
}
.post-content h4 {
    @apply text-blue-600/90 text-2xl mt-6 mb-2 font-semibold;
}
.post-content h5 {
    @apply text-blue-600/90 text-xl mt-6 mb-2 font-semibold;
}
.post-content h6 {
    @apply text-lg mt-6 mb-2 font-semibold;
}
.post-content code:not([data-lang]) {
    @apply bg-gray-100 rounded-md px-1 py-0.5;
}
.markdown-content-dark ul,
.post-content ul {
    @apply list-disc list-inside mb-4;
}
.markdown-content-dark ol,
.post-content ol {
    @apply list-inside mb-4;
}
.post-content hr {
    @apply my-8;
}
.post-content blockquote {
    @apply text-blue-300 pl-6;
}
.post-content .youtube-player {
    @apply my-8;
    position: relative;
    /* 16:9 ratio*/
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}
.post-content .youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.post-content figure img {
    @apply mb-2;
}
.post-content figure figcaption {
    @apply text-blue-600 text-base mb-6 text-center;
}

@tailwind utilities;

.post-content img {
    margin-top: 2rem;
    margin-bottom: 1rem;
}