{{ define "main" }}
<div class="py-28 bg-blue-600">
  <div class="flex flex-col px-4 mx-auto max-w-6xl md:flex-row xl:px-0">
    <div class="max-w-6xl">
      <span class="mx-auto text-sm font-medium tracking-wide uppercase text-white/80">Tags</span>
      <h1 class="mt-2 font-serif text-4xl text-blue-200 capitalize sm:text-5xl">Post {{ .Title }}</h1>
      <div class="flex flex-row flex-wrap mx-auto mt-16 space-x-8">
        {{ range .Data.Pages }}
        <div>
          <a class="group" href="{{.RelPermalink}}">
            <h5 class="font-serif text-3xl font-light text-white duration-300 ease-linear group-hover:text-blue-200">{{ .Title }}</h5>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}