{{ define "main" }}
<div class="bg-blue-600 py-28">
  <div class="flex flex-col md:flex-row max-w-6xl mx-auto px-4 xl:px-0">
    <div class="max-w-6xl">
      <span class="text-sm text-white/80 font-medium uppercase tracking-wide mx-auto">Tags</span>
      <h1 class="font-serif font-light text-4xl sm:text-5xl text-blue-200 capitalize mt-2">Post {{ .Title }}</h1>
      <div class="flex flex-row flex-wrap space-x-8 mt-16 mx-auto">
        {{ range .Data.Pages }}
        <div>
          <a class="group" href="{{.RelPermalink}}">
            <h5 class="font-serif font-light text-3xl text-white group-hover:text-blue-200 duration-300 ease-linear">{{ .Title }}</h5>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}