<div class="bg-blue-400 py-16">
  <div class="max-w-6xl mx-auto px-4 xl:px-0 text-center">
    <h5 class="text-5xl font-serif font-light text-blue-200 px-2 mx-auto">Ready to get started?</h5>
    <h6 class="max-w-md text-white/80 px-2 mt-4 mx-auto">Book a free 15 min. consultation. We'll briefly chat about your goals, ideas, and requirements. </h6>
    <button class="group inline-flex items-center px-7 py-3 bg-blue-200 text-blue-600 border-2 border-blue-200 rounded-full text-lg font-medium drop-shadow-[0_25px_25px_rgba(0,0,0,0.25)] hover:cursor-pointer hover:text-blue-200 hover:bg-blue-300 duration-300 ease-linear mt-6 mx-auto" href="https://calendly.com/noahrahm/consultation" target="blank">
      Book your call
      <svg class="ml-1.5 w-5 h-5 fill-blue-600 group-hover:fill-blue-200" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256">
        <path d="M198,64V168a6,6,0,0,1-12,0V78.48L68.24,196.24a6,6,0,0,1-8.48-8.48L177.52,70H88a6,6,0,0,1,0-12H192A6,6,0,0,1,198,64Z"></path>
      </svg>
    </button>
  </div>
</div>