<footer class="max-w-6xl mx-auto px-5 border-t-2 border-gray-200 pt-6 pb-12 px-10 mt-10">
	<div class="w-full md:w-3/4 flex flex-col items-center mt-10 text-center mx-auto">
		<small class="text-gray-600 text-sm mt-3 opacity-70 mx-auto md:mx-0">Copyright &copy; {{ now.Year }} Noah Rahm<br>
		<small class="text-gray-500 text-xs mx-auto md:mx-0"><a class="underline hover:text-gray-600" href="/privacy/">I don't track you</a>  &bull;  <a class="underline hover:text-gray-600" href="/colophon/">Site colophon</a></small>
	</div>
</footer>
