<footer class="max-w-6xl flex flex-col items-center mx-auto text-center px-5 border-t-2 border-gray-200 pt-6 pb-12 px-10 mt-10">
	<div class="flex inline space-x-2 mt-10 mx-auto items-center">
	  <a href="https://github.com/Correct-Syntax" class="mx-2 hover:scale-125 cursor-hand transition ease-in-out duration-300"><img class="w-8 h-8" src="/assets/icons/github.svg" alt="Github"></a>
      <a href="https://dribbble.com/correctsyntax" class="mx-2 hover:scale-125 cursor-hand transition ease-in-out duration-300"><img class="w-8 h-8" src="/assets/icons/dribbble.svg" alt="Dribbble"></a>
      <a href="https://www.linkedin.com/in/noah-r-designer-developer/" class="mx-2 hover:scale-125 cursor-hand transition ease-in-out duration-300"><img class="w-8 h-8" src="/assets/icons/linkedin.svg" alt="LinkedIn"></a>
      <a href="https://stackoverflow.com/users/12787591/correctsyntax" class="mx-2 hover:scale-125 cursor-hand transition ease-in-out duration-300"><img class="w-8 h-8" src="/assets/icons/stackoverflow.svg" alt="Stack Overflow"></a>
	</div>
	<div class="w-full md:w-3/4 flex flex-col items-center mt-3 text-center mx-auto">
		<small class="text-gray-600 text-sm mt-3 mb-1 mx-auto md:mx-0">Copyright &copy; {{ now.Year }} Noah Rahm &bull; This site is open source on <a class="underline hover:text-accent" href="https://github.com/Correct-Syntax/correct-syntax.github.io">Github</a><br></small>
		<small class="text-gray-500 text-xs mx-auto md:mx-0"><a class="underline hover:text-accent" href="/privacy/">I don't track you</a>  &bull;  <a class="underline hover:text-accent" href="/colophon/">Site colophon</a></small>
	</div>
</footer>
