<head>
	<meta charset="UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }}</title>
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
  {{ with .OutputFormats.Get "RSS" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{- end }}

  <link rel="preconnect" href="api.fonts.coollabs.io" crossorigin>
  <link href="https://api.fonts.coollabs.io/css2?family=Aleo:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://api.fonts.coollabs.io/css2?family=Aleo&display=swap" rel="stylesheet">  
  
  <link href="/assets/style.css" rel="stylesheet">
  <script defer src="https://unpkg.com/alpinejs@3.8.1/dist/cdn.min.js"></script>
  
  <!-- <script src="https://cdn.tailwindcss.com"></script>
  <script>    
    tailwind.config = {      
      theme: {    
        fontFamily: {
          sans: ['Roboto', 'sans-serif'],
          serif: ['Aleo', 'serif']
        },    
        extend: {          
          colors: {          
            accent: "#2591AF",  
            darkergray: "#2E2E2E",       
          }        
        }      
      }    
    }  
  </script> -->
</head>